{
    "tokens": {
        "telegram": "5142587667:AAG0hn1NKMOfvWcF9CQJbLJaw95myKPHlrM"
    },
    "bots": {
        "Watcher": {
            "number": "9104499982"
        },
        "Oleg": {
            "number": "9104499982"
        },
        "Einstein": {
            "number": "9104499982"
        },
        "Boulevard Depo": {
            "number": "9104499982"
        },
    }
}
